[Unit]
Description=Service for managing polybar
PartOf=graphical-session.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/adam/.config/polybar/launch.sh
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target

